* {
    box-sizing: border-box
}
html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    width: 100%;
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5;
}
h1 {
    font-size: 2rem;
}
h3 { 
    font-size: 1.5rem;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding: 0 1.5rem;
    background-color: white;
    color: black;
    z-index: 10;
}
header .desktop {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.desktop .header-logo {
    display: inline-flex;
    flex-flow: row nowrap;
    height: 2rem;
    justify-content: flex-start;
    align-items: center;
}
.desktop .header-logo img {
    height: 2rem;
    width: auto;
}
.desktop .header-logo h4 {
    font-size: 2rem;
    font-weight: bold;
}
.desktop .header-logo h4 span {
    font-weight: normal;
    color: grey
}
.desktop nav {
    justify-self: flex-end;
}
.desktop nav ul {
    display: inline;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-self: flex-end;
}
.desktop nav li {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0.5rem;
}
header .mobile {
    display: none;
}

@media only screen and (max-width: 870px) {
    header .desktop {
        display: none;
    }
    header .mobile {
        display: flex;
        width: 100%;
        height: 4rem;
        align-content: center;
    }
    header .mobile nav {
        width: 100%;
        display: flex;
        align-content: center;
    }
    header .mobile .icons {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center
    }
}
main {
    position: relative;
    top: 4rem;
    margin: 0;
    width: 100%;
}
main .banner {
    background: lightgray;
    color: black;
    padding: 2rem 0;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}
main .banner img {
    width: 60%;
    height: auto;
    margin: 0 1.5rem;
}
main .banner .start-here {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main .banner .start-here h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}
main .banner .start-here h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}
main .banner .start-here .button {
    width: 100%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    background-color: black;
}

main .banner .start-here h4 {
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}
@media only screen and (max-width: 870px) {
    main .banner {
        padding: 0;
        flex-flow: column;
        justify-content: center;
    }
    main .banner img {
        margin: 0;
        width: 100%;
    }
    main .banner .start-here {
        padding: 2rem 1rem;
    }
    main .banner .start-here h1 {
        margin-bottom: 2rem;
    }
    main .banner .start-here h2 {
        margin-bottom: 1.5rem;
    }
    main .banner .start-here .button {
        margin: 0;
        background-color: grey;
    }
}
main .practicing { 
    width: 100%;
    background-color: white;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
main .practicing .picture-caption { 
    width: 60%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
}
main .practicing .picture-caption img { 
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
main .practicing .picture-caption h1 {
    margin-bottom: 1.5rem;
}
main .practicing .picture-caption p {
    margin-bottom: 2rem;
}
main .practicing .picture-caption a p { 
    font-size: 0.75rem;
    font-weight: lighter;
}
main .practicing .infoboxes {
    width: 40%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main .practicing .infoboxes .infobox {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
main .practicing .infoboxes .infobox .img-box {
    margin: 0.5rem;
    width: 35%;
    min-width: 35%;
}
main .practicing .infoboxes .infobox .img-box img {
    width: 100%;
    height: auto;
}
main .practicing .infoboxes .infobox .img-box img.mobile{
    display: none;
}
main .practicing .infoboxes .infobox .details {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
}
main .practicing .infoboxes .infobox .details h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
main .practicing .infoboxes .infobox .details p {
    margin-bottom: 0.5rem;
}
main .practicing .infoboxes .infobox .details a p {
    margin-bottom: 0rem;
    color: blue;
}
@media only screen and (max-width: 870px) {
    main .practicing .picture-caption {
        display: none;
    }
    main .practicing .infoboxes .infobox .img-box img.desktop{
        display: none;
    }
    main .practicing .infoboxes {
        margin-top: 1rem;
        width: 100%;
    }
    main .practicing .infoboxes .infobox {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    main .practicing .infoboxes .infobox .img-box {
        width: 100%;
        padding: 0 0.5rem;
    }
    main .practicing .infoboxes .infobox .img-box img.mobile{
        display: flex;
    }
}
main .start-learning {
    background-color: lightgray;
    padding: 2rem 4.5rem;
}
main .start-learning h1 {
    margin: 2rem auto;
    text-align: center;
}
main .course-gallery {
    width: 100%;
    margin: 2rem 0;    
}
main .course-gallery .desktop {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
}
main .course-gallery .img-box {
    min-width: 32%;
    max-width: 32%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0;
    margin: 0 0.5rem 0.5rem 0 
}
main .course-gallery .img-box.right {
    margin-right: 0;  
}
main .course-gallery .img-box.bottom {
    margin-bottom: 0;  
}
main .course-gallery .img-box img {
    width: 100%;
    height: auto;
}
main .course-gallery .img-box .details {
    width: 100%;
    padding: 1rem 1.5rem 1.5rem 1rem;
    text-align: left;
    background-color: white;
    flex: 1;
}
main .course-gallery .img-box .details h3 {
    margin: 0.5rem 0;
}
main .course-gallery .img-box .details p {
    margin: 0.5rem 0;
}
main .course-gallery .mobile {
    display: none;
} 
